/* Fonte padrão para todo o site e títulos */
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}


/* Ícones no menu com fonte maior e menos espaçamento - Validado */  
.w3-bar-item i {
    font-size: 22px;
    margin-right: 16px;
}

/* Parágrafos responsivos para leitura (estilo celular) - Validado*/
p {
    font-size: 1.1rem;         /* Um pouco maior para leitura */
    line-height: 1.5;
    word-break: break-word;
    margin: 0 0 1em 0;
    padding: 0 5vw;            /* Espaço lateral como no mobile */
    text-align: justify;
}


.img-pequena {
    display: block;
    margin: 1em auto;
    width: 100%;       /* Tamanho fixo em telas grandes - Validado*/
    max-width: 30%;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .img-pequena {
        width: 70%;    /* Preenche toda a tela no mobile */
        max-width: 70%;
        height: 70%;
    }
}


.sidebar-left,
.sidebar-right {
    background: #333; /* Cor das barras laterais */
    width: 300px; /* Largura das barras laterais */
    min-height: 100vh; /* Altura mínima para cobrir a tela */
    color: #fff; /* Cor do texto */
    padding: 1em; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
}

.content {
    flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
    padding: 2em 1em;
    background: #000; /* Cor do fundo do conteúdo */
    color: #fff; /* Cor do texto */
    box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
}

/* Para telas pequenas (até 600px), esconde as barras laterais */
@media (max-width: 600px) {
    .layout {
        flex-direction: column;
    }
    .sidebar-left,
    .sidebar-right {
        display: none;
    }
    .content {
        padding: 2em 1em;
    }
}


.area-conteudo { display: none; }
.testemunho-section, .sagradas-escrituras-section { display: none; }
#indice-navegacao, #indice-navegacao2 { display: none; }
.w3-bar .w3-bar-item.active { background: #fff !important; color: #000 !important; }