/* Define a família de fontes para o corpo do texto e para todos os títulos */
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif; 
}


/* Define a largura da barra lateral como 120px, ajusta a altura para conter todo o conteúdo, e define o fundo como cinza escuro */
.w3-sidebar {
    width: 120px;
    height: max-content;
    background: #8d8686;
}

/* Ajusta o tamanho da fonte dos ícones dentro de itens de barras de navegação e adiciona espaço à direita do ícone */
.w3-bar-item i {
    font-size: 18px; /* Define o tamanho da fonte */
    margin-right: 10px; /* Espaçamento entre ícone e texto */
}

/* Adiciona margem à esquerda no conteúdo principal para acomodar a barra lateral */
#main {
    margin-left: 120px;
}

/* Remove a margem do conteúdo principal em telas menores ou iguais a 900px */
@media only screen and (max-width: 900px) {
    #main {
        margin-left: 0;
    }
}

/* Centraliza o texto, justifica para esticar ao longo do contêiner */
.texto-centralizado {
    text-align: justify; /* Estica texto nas linhas */
    text-align-last: center; /* Centraliza a última linha de texto */
}


/* Estilos responsivos para tamanhos de tela até 1800px */
@media (max-width: 8000px) {

    /* Ajusta elementos de texto para preencher o espaço disponível, adiciona espaçamento */
    .texto-com-margem,
    .texto-com-margem-borda {
        margin-left: 0px;
        max-width: 100%; /* Ocupa 100% do contêiner pai */
        width: auto; /* Largura automática */
        padding: 20px; /* Espaço interno */
        word-wrap: break-word; /* Quebra palavras longas */
        padding-right: 70px; /* Espaço extra à direita */
        border-right: none; /* Remove borda à direita, se houver */
        text-align: justify; /* Justifica texto */
    }

    /* Muda direção de elementos flexíveis para coluna */
    .flex-container {
        flex-direction: column; /* Alinha elementos verticalmente */
        margin-left: 0; /* Remove qualquer margem à esquerda */
    }
}