body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

.img-container {
        text-align: center;
}
.w3-row-padding img {margin-bottom: 12px}

/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;height: max-content;background: #222;}


.w3-bar-item i {
    font-size: 18px; /* Ajuste o tamanho conforme necessário */
    margin-right: 10px; /* Adiciona um espaço entre o ícone e o texto */
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 900px) {#main {margin-left: 0}}

.texto-centralizado {
    text-align: justify;
    text-align-last: center;
}
.flex-container {
    display: flex; /* Usar flexbox para alinhar os itens lado a lado */
    align-items: flex-start; /* Alinha os itens no topo */
}

.texto-container {
    flex: 1; /* Faz com que ambos os contêineres ocupem a mesma largura */
    padding: 20px; /* Adiciona espaço interno ao redor do texto */
    word-wrap: break-word; /* Quebra palavras longas para a próxima linha */
}

.texto-container:last-child {
    margin-right: 0; /* Remove a margem do último contêiner */
}

.texto-com-margem {
    width: 850px; /* Defina a largura fixa desejada */
    padding: 20px; /* Adiciona espaço interno ao redor do texto */
    word-wrap: break-word; /* Quebra palavras longas para a próxima linha */
    border-right: 2px solid #ccc; /* Adiciona uma borda de 2px de espessura e cor cinza claro apenas à direita */
    padding-right: 70px; /* Adiciona um espaço extra à direita para o texto não ficar colado na borda */
}
.texto-com-margem-borda {
    width: 850px; /* Defina a largura fixa desejada */
    margin-left: 110px; 
    padding: 20px; /* Adiciona espaço interno ao redor do texto */
    word-wrap: break-word; /* Quebra palavras longas para a próxima linha */
    border-right: 2px solid #ccc; /* Adiciona uma borda de 2px de espessura e cor cinza claro apenas à direita */
    padding-right: 70px; /* Adiciona um espaço extra à direita para o texto não ficar colado na borda */
}

@media (max-width: 1800px) {
    .texto-com-margem {
        margin-left: 0px;
        max-width: 100%; /* Permite que o texto ocupe até 100% da largura do contêiner pai */
        width: auto; /* Remove a largura fixa */
        padding: 20px; /* Adiciona espaço interno ao redor do texto */
        word-wrap: break-word; /* Quebra palavras longas para a próxima linha */
        padding-right: 70px; /* Adiciona um espaço extra à direita para o texto não ficar colado na borda */
        border-right: none;
        text-align: justify;
    }
    .texto-com-margem-borda {
        margin-left: 0px;
        max-width: 100%; /* Permite que o texto ocupe até 100% da largura do contêiner pai */
        width: auto; /* Remove a largura fixa */
        padding: 20px; /* Adiciona espaço interno ao redor do texto */
        word-wrap: break-word; /* Quebra palavras longas para a próxima linha */
        padding-right: 70px; /* Adiciona um espaço extra à direita para o texto não ficar colado na borda */
        border-right: none;
        text-align: justify;
    }
    .flex-container {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        margin-left: 0
    }
}
/*Imagens*/

img {
    max-width: 100%; /* Faz com que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}


.imagem-hover {
    transition: transform 0.3s; /* Transição suave */
    cursor: pointer; /* Muda o cursor para indicar que a imagem é clicável */
}

.imagem-hover:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
}

.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1000; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.459); /* Fundo escuro com opacidade */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%; /* Limita a largura da imagem no modal */
    max-height: 80%; /* Limita a altura da imagem no modal */
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
}

